<a href="https://colab.research.google.com/github/MaitriKhanna/Widhya-Projects/blob/main/Widhya_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

We will use **"quandl"** to get our dataset. Quandl is as API for stock data which has a wast collection of free and open data collected from various organisations. We need to make an account on Quandl to get the access. 

 Here, I will use Apple Inc data.

In [3]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/c2/58/9f0e69d836045e3865d263e9ed49f42b23a58526fdabb30f74c430baee3f/Quandl-3.6.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.6.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.0

In [4]:
import quandl

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

I have stored my authentication key in a text file.

In [5]:
auth_token= open('/content/drive/MyDrive/Colab Notebooks/Widhya tasks/Auth key.txt','r')
auth= auth_token.read()

In [6]:
quandl.ApiConfig.api_key = auth

In [7]:
quandl_data = quandl.get("WIKI/AAPL",  authtoken=auth)

In [8]:
df= quandl_data

In [9]:
df.head()

             Open   High    Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                             ...
1980-12-12  28.75  28.87  28.75  ...  0.422706    0.422706  117258400.0
1980-12-15  27.38  27.38  27.25  ...  0.400652    0.400652   43971200.0
1980-12-16  25.37  25.37  25.25  ...  0.371246    0.371246   26432000.0
1980-12-17  25.87  26.00  25.87  ...  0.380362    0.380362   21610400.0
1980-12-18  26.63  26.75  26.63  ...  0.391536    0.391536   18362400.0

[5 rows x 12 columns]

In [12]:
df['HL_PCT']= ((df['Adj. High']-df['Adj. Low'])/df['Adj. Close'])*100
df['PCT_change']= ((df['Adj. Close']-df['Adj. Open'])/df['Adj. Open'])*100

In [13]:
df.head()

             Open   High    Low  ...  Adj. Volume    HL_PCT  PCT_change
Date                             ...
1980-12-12  28.75  28.87  28.75  ...  117258400.0  0.417391    0.000000
1980-12-15  27.38  27.38  27.25  ...   43971200.0  0.477064   -0.474799
1980-12-16  25.37  25.37  25.25  ...   26432000.0  0.475248   -0.473000
1980-12-17  25.87  26.00  25.87  ...   21610400.0  0.502513    0.000000
1980-12-18  26.63  26.75  26.63  ...   18362400.0  0.450620    0.000000

[5 rows x 14 columns]

In [14]:
df.shape

(9400, 14)

In [15]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume',
       'HL_PCT', 'PCT_change'],
      dtype='object')

In [16]:
dt= df.drop(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low'],axis=1)

In [17]:
dt.head()

            Adj. Close  Adj. Volume    HL_PCT  PCT_change
Date
1980-12-12    0.422706  117258400.0  0.417391    0.000000
1980-12-15    0.400652   43971200.0  0.477064   -0.474799
1980-12-16    0.371246   26432000.0  0.475248   -0.473000
1980-12-17    0.380362   21610400.0  0.502513    0.000000
1980-12-18    0.391536   18362400.0  0.450620    0.000000

In [19]:
dt.fillna(-9999,inplace=True)

In [20]:
dt.isna().sum()

Adj. Close     0
Adj. Volume    0
HL_PCT         0
PCT_change     0
dtype: int64

In [22]:
dt.shape

(9400, 4)

In [32]:
dt['label']= dt['Adj. Close'].shift(-2)

In [33]:
dt.dropna(axis=0,inplace=True)

In [34]:
dt.shape

(9396, 5)

In [30]:
import numpy as np

In [36]:
from sklearn.preprocessing import normalize

In [40]:
x= dt.drop(['label'],axis=1,inplace=False)
y=dt['label']

In [41]:
x.columns

Index(['Adj. Close', 'Adj. Volume', 'HL_PCT', 'PCT_change'], dtype='object')

In [43]:
x= pd.DataFrame(normalize(x),columns=['Adj. Close', 'Adj. Volume', 'HL_PCT', 'PCT_change'])

In [44]:
x.head()

     Adj. Close  Adj. Volume        HL_PCT    PCT_change
0  3.604909e-09          1.0  3.559586e-09  0.000000e+00
1  9.111684e-09          1.0  1.084947e-08 -1.079796e-08
2  1.404533e-08          1.0  1.798001e-08 -1.789496e-08
3  1.760087e-08          1.0  2.325327e-08  0.000000e+00
4  2.132270e-08          1.0  2.454034e-08  0.000000e+00

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
model= LinearRegression()

In [51]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
y_pred= model.predict(x_test)

In [53]:
from sklearn.metrics import mean_squared_error

In [54]:
print(mean_squared_error(y_test,y_pred))

332.9307159534955